body{
    background-color: #2B2D42;
    color: #000;
    font-family: Fira Code;
    margin: 0;
    overflow-y: hidden;
}

header{
    width: 100%;
    height: auto;
}

.header__img{
    width: 100%; 
    max-width: 350px;
}
.align-to-right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.buttons{
    background-color: #737E93;
    height: 90px;
    width: 220px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__icon{
        cursor: pointer;
    }
}   

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tasks-container{
    width: 800px;
    display: flex;
    max-height: 80vh;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#task__label {
    width: 15px;
    height: 15px;
    border: 1px solid #D9D9D9;
    display: block;
    transform: translateX(-30px);
}

input:checked + #task__label {
    background-color: #EF233C;
}

.task__drag{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    transform: translateY(-1px);
    cursor: pointer;
}
.drag__line{
    background-color: #D9D9D9;
    width: 30px;
    height: 2px;
    margin-top: 6px;
}

.task{
    width: 684px;
    height: 89px;
    background-color: #3A3D59;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    &__input{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: #ffff;
        line-height: 89px;
        text-align: center;
        resize: none;
    }
    &__priority{
        height: 100%;
        width: 12px;
        background-color: #D9D9D9;
    }
}
#task__checkbox{
    transform: translateX(-30px);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border: #232323 3px solid;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #707070;
    cursor: pointer;
    transform: translateX(-100px);
}